<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Head'); %>
  </head>
  <body class="container">
    <main>
      <!-- PRELOADER -->
      <!-- <div class="preloader">
        <div class="spinner"></div>
      </div> -->
      <!-- /PRELOADER -->
      <%- include('./partials/Nav'); %>
    </main>

    <!-- CONTACT -->
    <section id="contact" class="white">
      <!-- CONTAINER FLUID -->
      <div class="container-fluid text-center">
        <h3 class="headline scroll-animated-from-bottom">
          Get in touch with me.
        </h3>

        <!-- CONTACT LIST -->
        <ul class="contact-list">
          <!-- CONTACT LIST ITEM -->
          <li class="contact-list-item scroll-animated-from-bottom">
            <!-- CONTACT TYPE -->
            <div class="contact-type">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <h6>Email</h6>
            </div>
            <!-- /CONTACT TYPE -->

            <h6>Issamabuza@gmail.com</h6>
          </li>
          <!-- /CONTACT LIST ITEM -->

          <!-- CONTACT LIST ITEM -->
          <li class="contact-list-item scroll-animated-from-bottom">
            <!-- CONTACT TYPE -->
            <div class="contact-type">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <h6>Phone</h6>
            </div>
            <!-- /CONTACT TYPE -->

            <h6>0746536208</h6>
          </li>
          <!-- /CONTACT LIST ITEM -->

          <!-- CONTACT LIST ITEM -->
          <li class="contact-list-item scroll-animated-from-bottom">
            <!-- CONTACT TYPE -->
            <div class="contact-type">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <h6>Address</h6>
            </div>
            <!-- /CONTACT TYPE -->

            <h6>8 Skinner Str Hamberg Roodeooort 1724</h6>
          </li>
          <!-- /CONTACT LIST ITEM -->
        </ul>
        <!-- CONTACT LIST -->

        <!-- FOOTER -->
        <section id="footer">
          <!-- CONTAINER FLUID -->
          <div class="container-fluid">
            <!-- ROW -->
            <div class="row">
              <div
                class="col-sm-6 scroll-animated-from-bottom text-right"
                style="text-align: center"
              >
                <ul class="social-icons">
                  <li>
                    <a href="https://www.facebook.com/issa.mabuza.5"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/hacker_the_smile/"
                      ><i class="fa fa-instagram" aria-hidden="true"></i
                    ></a>
                  </li>

                  <li>
                    <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>

                  <li>
                    <a href="https://github.com/Issa50/MyFirstRepo.git"
                      ><i class="fa fa-github" aria-hidden="true"></i
                    ></a>
                  </li>

                  <li>
                    <a href="0746536208"
                      ><i class="fa fa-whatsapp" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
                <!-- /SOCIAL ICONS -->
              </div>
              <!-- /COLUMN -->
            </div>
            <!-- ROW -->
          </div>
          <!-- /CONTAINER FLUID -->
        </section>
      </div>
      <!-- /CONTAINER FLUID -->
    </section>
  </body>
</html>
