<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Head'); %>
  </head>
  <body class="container">
    <main>
      <!-- PRELOADER -->
      <!-- <div class="preloader">
        <div class="spinner"></div>
      </div> -->
      <!-- /PRELOADER -->
      <%- include('./partials/Nav'); %>
    </main>
    <!-- INTRO -->
    <section id="intro">
      <!-- CONTAINER MID -->
      <div class="container-mid text-center">
        <!-- ANIMATION CONTAINER -->
        <div>
          <p>
            I'm
            <span
              class="typed"
              data-typed-items="Software Developer, Graphic Designer, Photoshopper"
            ></span>
          </p>
        </div>

        <div>
          <p class="subline">Learn More About me</p>
          <a href="/About" class="scroll-down smooth-scroll"
            ><i class="fa fa-long-arrow-down" aria-hidden="true"></i
          ></a>
        </div>
        <!-- /ANIMATION CONTAINER -->
      </div>
      <!-- /CONTAINER MID -->
    </section>
  </body>
</html>
