<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Head'); %>
  </head>
  <!-- SERVICE -->
  <body>
    <main>
      <!-- PRELOADER -->
      <!-- <div class="preloader">
          <div class="spinner"></div>
        </div> -->
      <!-- /PRELOADER -->
      <%- include('./partials/Nav'); %>
    </main>
    <section id="service">
      <!-- CONTAINER FLUID -->
      <div class="container-fluid text-center">
        <h3 class="headline scroll-animated-from-bottom">
          These are the skills which i have not learn in a single day but there
        </br>
          is a long book of struggle behined these skill.
        </h3>

        <!-- COLUMN -->
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>Web Dev</h5>

          <p>
           Includes the development of full stack web application using html,css and javaScript.
          </p>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>javaScript</h5>

          <p>
              Writing the front end and backend script using javaScript to play with the user actions.
          </p>
        </div>
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>Operating System</h5>

          <p>
              Operating System development how the operating system works at the ground level. And how it interacts with hardware.
          </p>
        </div>
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>Database Model</h5>

          <p>
            How database relationship and structure is developed among the entities. How database is created and worked.
          </p>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>Problem Solving</h5>

          <p>
              Real time coding problems related to architecture design and development are solved.
          </p>
        </div>
        <!-- /COLUMN -->

        <!-- COLUMN -->
        <div
          class="
            col-md-4 col-sm-6
            text-left
            service-item
            scroll-animated-from-bottom
          "
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>ComputerArchitecture</h5>

          <p>
              How the Computer Architecture is being transffered between the systems and how the Computer Architecture is processed by different systems
          </p>
        </div>
        <!-- /COLUMN -->
      </div>
      <!-- /CONTAINER FLUID -->
    </section>
    <!-- /SERVICE -->
  </body>
</html>
