<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/Head'); %>
  </head>
  <!-- SERVICE -->
  <body>
    <main>
      <!-- PRELOADER -->
      <!-- <div class="preloader">
          <div class="spinner"></div>
        </div> -->
      <!-- /PRELOADER -->
      <%- include('./partials/Nav'); %>
    </main>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <%- include('./partials/Head'); %>
      </head>
      <!-- SERVICE -->
      <body>
        <main>
          <!-- PRELOADER -->
          <!-- <div class="preloader">
          <div class="spinner"></div>
        </div> -->
          <!-- /PRELOADER -->
          <%- include('./partials/Nav'); %>
        </main>
        <!-- CLIENTS -->
        <section id="clients">
          <!-- CONTAINER FLUID -->
          <div class="container-fluid text-center">
            <h3 class="headline scroll-animated-from-bottom">Resume</h3>

            <!-- CLIENT FEEDBACK -->
            <div class="client-feedback">
              <!-- CLIENT FEEDBACK ITEM -->
              <div class="client-feedback-item row">
                <!-- COLUMN -->
                <div class="col-sm-3 text-left scroll-animated-from-bottom">
                  <h4>Univeristy</h4>
                </div>
                <!-- /COLUMN -->

                <!-- COLUMN -->
                <div class="col-sm-9 text-left scroll-animated-from-bottom">
                  <p style="margin-top: 2%">
                    Belgium Campus iTversity <b>(2020 end 2022)</b>
                  </p>
                </div>
                <!-- /COLUMN -->
              </div>
              <!-- /CLIENT FEEDBACK ITEM -->

              <!-- CLIENT FEEDBACK ITEM -->
              <div class="client-feedback-item row">
                <!-- COLUMN -->
                <div class="col-sm-3 text-left scroll-animated-from-bottom">
                  <h4>School Attended</h4>
                </div>
                <!-- /COLUMN -->

                <!-- COLUMN -->
                <div class="col-sm-9 text-left scroll-animated-from-bottom">
                  <p style="margin-top: 5%">V.N.NAIK SCHOOL FOR THE DEAF</p>
                </div>
                <!-- /COLUMN -->
              </div>
              <!-- /CLIENT FEEDBACK ITEM -->

              <!-- CLIENT FEEDBACK ITEM -->
              <div class="client-feedback-item row">
                <!-- COLUMN -->
                <div class="col-sm-3 text-left scroll-animated-from-bottom">
                  <h4>
                    SHEETCH EDUCATION & TRAINING(PLY) LTD TRAINING AND TRADE
                    TEST CENTRE (NQF LEVEL 4)
                  </h4>
                </div>
                <!-- /COLUMN -->

                <!-- COLUMN -->
                <div class="col-sm-9 text-left scroll-animated-from-bottom">
                  <p style="margin-top: 10%">
                    GAS METAL ARC, ARC WELDING, GAS TUNGSTEN ,OXY-FUEL, DRILLING
                    <b>May 2019</b>
                  </p>
                </div>
                <!-- /COLUMN -->
              </div>
              <!-- /CLIENT FEEDBACK ITEM -->
            </div>
            <!-- /CLIENT FEEDBACK -->
          </div>
          <!-- /CONTAINER FLUID -->
        </section>
      </body>
    </html>
  </body>
</html>
